
.carrito-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carrito-card {
    background: #fff;
    border: 1px solid #e5e7eb;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    padding: 50px 60px;
    text-align: center;
    width: 400px;
}
.icono-carrito svg {
    margin-bottom: 15px;
}

.carrito-card h2 {
    font-size: 22px;
    font-weight: 700;
    color: #111827;
    margin-bottom: 10px;
}

.carrito-card p {
    color: #6b7280;
    font-size: 15px;

}

.boton {
    display: inline-block;
    background-color: #d81b60;
    color: white;
    text-decoration: none;
    padding: 14px 28px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    transition: background 0.3s;
}

.boton:hover {
    background-color: #b9134f;
}