
.carrito-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carrito-card {
    background: #fff;
    border: 1px solid #e5e7eb;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    padding: 50px 60px;
    text-align: center;
    width: 400px;
}
.icono-carrito svg {
    margin-bottom: 15px;
}

.carrito-card h2 {
    font-size: 22px;
    font-weight: 700;
    color: #111827;
    margin-bottom: 10px;
}

.carrito-card p {
    color: #6b7280;
    font-size: 15px;

}

.boton {
    display: inline-block;
    background-color: #d81b60;
    color: white;
    text-decoration: none;
    padding: 14px 28px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    transition: background 0.3s;
}

.boton:hover {
    background-color: #b9134f;
}
/*---------------------------*/

#resumen {
  position: sticky;
  top: 80px;
  height: fit-content;
}


.fade-out {
    opacity: 0;
    transform: translateX(50px);
    transition: all 0.3s ease;
}

.btn-salir {
    background: #ff5252;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 8px 15px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}

.btn-salir:hover {
    background: #e60000;
    transform: scale(1.05);
}

@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.95); }
    to { opacity: 1; transform: scale(1); }
}

@media (max-width: 600px) {
    .tabla-carrito th, 
    .tabla-carrito td {
        font-size: 0.9em;
        padding: 6px;
    }

    .img-tabla {
        width: 45px;
        height: 45px;
    }
}