
body {
    background: linear-gradient(to bottom right, #88484a, #f3f4f6);
    font-family: 'Poppins', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#divIngreso {
    background: #fff;
    border-radius: 12px;
    padding: 40px 60px;
    max-width: 400px;
    text-align: center;
}

#divIngreso h1 {
    font-size: 28px;
    font-weight: 700;
    color: #000;
}

#divIngreso p {
    color: #666;
    font-size: 15px;
    margin-bottom: 25px;
    padding: 10px;
}


label {
    font-weight: 600;
    text-align: left;
    color: #656565;
}

input{
    width: 90%;
    padding: 12px;
    border: 2px solid #e91e63;
    border-radius: 10px;
    outline: none;
    margin-bottom: 20px;
    font-size: 15px;

}

input[type="submit"] {
    background-color: #e91e63;
    color: #fff;
    border: none;
    padding: 14px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #640d30;
}


@media (max-width: 480px) {
    #divIngreso {
        padding: 30px 25px;
    }
}

#btnLogin{ 
    justify-self: center;
    align-self: flex-end;
}

#incio{
    display: flex;
    flex-direction: column;
    align-items: center;
}